/* * {box-sizing: border-box} */

.info{
    display: block;
    height: 100%;
    background-color: red;
}

#linkDiv{
    overflow: auto;
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #cccccc;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-family: Arial;
  font-size: 30px;
  width: 33.333%;
  /* border-style: solid;
  border-color: black; */
  border-top: 2px solid black;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  border-bottom: 0;
  border-radius: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tablink:hover {
  background-color: #999999;
}

.control{
  color: black;
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin: 0 0 24px;
  text-align: center;
}

#donate{
  text-align: center;
}

p { color: black; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding-top: 30px;
  padding-left: 20px;
  /* height: 100%; */
  /* overflow: visible; */
  text-align: center;
}

#about {background-color:F1F1F1;}
#controls {background-color: F1F1F1;}
#attribution {background-color: F1F1F1;}
/* #controls {background-color: DADADA;}
#attribution {background-color: BDBDBD;} */